:root{
  --blue : #264653;
  --blue2 : #2a9d8f;
  --yellow : #e9c46a;
  --orange1 : #f4a261;
  --orange2 : #e76f51;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--blue);
  
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card{
  position: relative;
  top: 0;
  left: 0;
  width: 226px;
  height: 448px;
  transition: .3s;
  overflow: hidden;
}
.card::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 5px 5px #f4a261;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  transform: translate(10px,10px);
  background-color: #e76f51;
  opacity: 0;
  transition: .5s;
}
.card:hover::before{
  transition: .5s;
 opacity: 1;
}
.card:hover .card-body{
  transition-delay: .2s;
  transform: translateY(0px);
 opacity: 1;
}
.card img{
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: .5s;
  transform-origin: top;
}
.card:hover img{
  transform: scale(1.5);

}
.card-body{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--blue2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  opacity: 0;
  transition: .5s;
  transform: translateY(200px);
  width: 100%;
}